<h2>Groups used for this test run</h2><table border="1">
<tr> <td align="center"><b>Group name</b></td><td align="center"><b>Methods</b></td></tr><tr><td>GoogleCalculator</td><td>Calculator.Google_Calculator_Plus(java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:com.tma.mbe.google.Calculator@6cd8737]<br/>Calculator.Google_Calculator_Multiply(java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:com.tma.mbe.google.Calculator@6cd8737]<br/></td></tr>
</table>
