<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="829dd8">  <td>15/01/15 15:31:58</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Calculator.Google_Calculator_Multiply(java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:com.tma.mbe.google.Calculator@6cd8737]">Google_Calculator_Multiply</td> 
  <td>main@159259014</td>   <td></td> </tr>
<tr bgcolor="829dd8">  <td>15/01/15 15:32:23</td>   <td>24170</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Calculator.Google_Calculator_Plus(java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:com.tma.mbe.google.Calculator@6cd8737]">Google_Calculator_Plus</td> 
  <td>main@159259014</td>   <td></td> </tr>
<tr bgcolor="829dd8">  <td>15/01/15 15:32:48</td>   <td>49679</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Calculator.Google_Calculator_Plus(java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:com.tma.mbe.google.Calculator@6cd8737]">Google_Calculator_Plus</td> 
  <td>main@159259014</td>   <td></td> </tr>
<tr bgcolor="829dd8">  <td>15/01/15 15:33:09</td>   <td>70398</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;Calculator.end()[pri:0, instance:com.tma.mbe.google.Calculator@6cd8737]">&lt;&lt;end</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@159259014</td>   <td></td> </tr>
<tr bgcolor="829dd8">  <td>15/01/15 15:31:48</td>   <td>-10507</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;Calculator.init()[pri:0, instance:com.tma.mbe.google.Calculator@6cd8737]">&gt;&gt;init</td> 
<td>&nbsp;</td>  <td>main@159259014</td>   <td></td> </tr>
<tr bgcolor="829dd8">  <td>15/01/15 15:32:14</td>   <td>15764</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;Calculator.init()[pri:0, instance:com.tma.mbe.google.Calculator@6cd8737]">&gt;&gt;init</td> 
<td>&nbsp;</td>  <td>main@159259014</td>   <td></td> </tr>
<tr bgcolor="829dd8">  <td>15/01/15 15:32:40</td>   <td>41296</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;Calculator.init()[pri:0, instance:com.tma.mbe.google.Calculator@6cd8737]">&gt;&gt;init</td> 
<td>&nbsp;</td>  <td>main@159259014</td>   <td></td> </tr>
<tr bgcolor="829dd8">  <td>15/01/15 15:31:47</td>   <td>-11618</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;Calculator.prepare()[pri:0, instance:com.tma.mbe.google.Calculator@6cd8737]">&gt;&gt;prepare</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@159259014</td>   <td></td> </tr>
<tr bgcolor="829dd8">  <td>15/01/15 15:32:13</td>   <td>14814</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;Calculator.tearDown()[pri:0, instance:com.tma.mbe.google.Calculator@6cd8737]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td>  <td>main@159259014</td>   <td></td> </tr>
<tr bgcolor="829dd8">  <td>15/01/15 15:32:39</td>   <td>40438</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;Calculator.tearDown()[pri:0, instance:com.tma.mbe.google.Calculator@6cd8737]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td>  <td>main@159259014</td>   <td></td> </tr>
<tr bgcolor="829dd8">  <td>15/01/15 15:33:08</td>   <td>69067</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;Calculator.tearDown()[pri:0, instance:com.tma.mbe.google.Calculator@6cd8737]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td>  <td>main@159259014</td>   <td></td> </tr>
</table>
