<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>com.tma.MbeDemo</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="829dd8">  <td>15/01/14 10:40:08</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;Calculator.prepare()[pri:0, instance:com.tma.mbe.google.Calculator@1554909b]">&gt;&gt;prepare</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@310656974</td>   <td></td> </tr>
<tr bgcolor="829dd8">  <td>15/01/14 10:40:08</td>   <td>230</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;Calculator.init()[pri:0, instance:com.tma.mbe.google.Calculator@1554909b]">&gt;&gt;init</td> 
<td>&nbsp;</td>  <td>main@310656974</td>   <td></td> </tr>
<tr bgcolor="829dd8">  <td>15/01/14 10:40:11</td>   <td>2528</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Calculator.Google_Calculator_Multiply(java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:com.tma.mbe.google.Calculator@1554909b]">Google_Calculator_Multiply</td> 
  <td>main@310656974</td>   <td></td> </tr>
<tr bgcolor="829dd8">  <td>15/01/14 10:40:24</td>   <td>15662</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;Calculator.tearDown()[pri:0, instance:com.tma.mbe.google.Calculator@1554909b]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td>  <td>main@310656974</td>   <td></td> </tr>
<tr bgcolor="829dd8">  <td>15/01/14 10:40:25</td>   <td>16923</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;Calculator.init()[pri:0, instance:com.tma.mbe.google.Calculator@1554909b]">&gt;&gt;init</td> 
<td>&nbsp;</td>  <td>main@310656974</td>   <td></td> </tr>
<tr bgcolor="829dd8">  <td>15/01/14 10:40:27</td>   <td>18778</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Calculator.Google_Calculator_Multiply(java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:com.tma.mbe.google.Calculator@1554909b]">Google_Calculator_Multiply</td> 
  <td>main@310656974</td>   <td></td> </tr>
<tr bgcolor="829dd8">  <td>15/01/14 10:40:37</td>   <td>28527</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;Calculator.tearDown()[pri:0, instance:com.tma.mbe.google.Calculator@1554909b]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td>  <td>main@310656974</td>   <td></td> </tr>
<tr bgcolor="829dd8">  <td>15/01/14 10:40:38</td>   <td>29767</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;Calculator.init()[pri:0, instance:com.tma.mbe.google.Calculator@1554909b]">&gt;&gt;init</td> 
<td>&nbsp;</td>  <td>main@310656974</td>   <td></td> </tr>
<tr bgcolor="829dd8">  <td>15/01/14 10:40:40</td>   <td>31322</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Calculator.Google_Calculator_Multiply(java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:com.tma.mbe.google.Calculator@1554909b]">Google_Calculator_Multiply</td> 
  <td>main@310656974</td>   <td></td> </tr>
<tr bgcolor="829dd8">  <td>15/01/14 10:41:07</td>   <td>58709</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;Calculator.tearDown()[pri:0, instance:com.tma.mbe.google.Calculator@1554909b]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td>  <td>main@310656974</td>   <td></td> </tr>
<tr bgcolor="829dd8">  <td>15/01/14 10:41:08</td>   <td>59959</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;Calculator.init()[pri:0, instance:com.tma.mbe.google.Calculator@1554909b]">&gt;&gt;init</td> 
<td>&nbsp;</td>  <td>main@310656974</td>   <td></td> </tr>
<tr bgcolor="829dd8">  <td>15/01/14 10:41:10</td>   <td>61459</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Calculator.Google_Calculator_Plus(java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:com.tma.mbe.google.Calculator@1554909b]">Google_Calculator_Plus</td> 
  <td>main@310656974</td>   <td></td> </tr>
<tr bgcolor="829dd8">  <td>15/01/14 10:41:26</td>   <td>77778</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;Calculator.tearDown()[pri:0, instance:com.tma.mbe.google.Calculator@1554909b]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td>  <td>main@310656974</td>   <td></td> </tr>
<tr bgcolor="829dd8">  <td>15/01/14 10:41:26</td>   <td>77898</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;Calculator.init()[pri:0, instance:com.tma.mbe.google.Calculator@1554909b]">&gt;&gt;init</td> 
<td>&nbsp;</td>  <td>main@310656974</td>   <td></td> </tr>
<tr bgcolor="829dd8">  <td>15/01/14 10:41:28</td>   <td>79580</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Calculator.Google_Calculator_Plus(java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:com.tma.mbe.google.Calculator@1554909b]">Google_Calculator_Plus</td> 
  <td>main@310656974</td>   <td></td> </tr>
<tr bgcolor="829dd8">  <td>15/01/14 10:41:43</td>   <td>94880</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;Calculator.tearDown()[pri:0, instance:com.tma.mbe.google.Calculator@1554909b]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td>  <td>main@310656974</td>   <td></td> </tr>
<tr bgcolor="829dd8">  <td>15/01/14 10:41:44</td>   <td>96300</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;Calculator.init()[pri:0, instance:com.tma.mbe.google.Calculator@1554909b]">&gt;&gt;init</td> 
<td>&nbsp;</td>  <td>main@310656974</td>   <td></td> </tr>
<tr bgcolor="829dd8">  <td>15/01/14 10:41:46</td>   <td>97890</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Calculator.Google_Calculator_Plus(java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:com.tma.mbe.google.Calculator@1554909b]">Google_Calculator_Plus</td> 
  <td>main@310656974</td>   <td></td> </tr>
<tr bgcolor="829dd8">  <td>15/01/14 10:42:02</td>   <td>113795</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;Calculator.tearDown()[pri:0, instance:com.tma.mbe.google.Calculator@1554909b]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td>  <td>main@310656974</td>   <td></td> </tr>
<tr bgcolor="829dd8">  <td>15/01/14 10:42:03</td>   <td>115005</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;Calculator.end()[pri:0, instance:com.tma.mbe.google.Calculator@1554909b]">&lt;&lt;end</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@310656974</td>   <td></td> </tr>
</table>
