<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>com.tma.MbeDemo</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="829dd8">  <td>15/01/14 10:40:11</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Calculator.Google_Calculator_Multiply(java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:com.tma.mbe.google.Calculator@1554909b]">Google_Calculator_Multiply</td> 
  <td>main@310656974</td>   <td></td> </tr>
<tr bgcolor="829dd8">  <td>15/01/14 10:40:27</td>   <td>16250</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Calculator.Google_Calculator_Multiply(java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:com.tma.mbe.google.Calculator@1554909b]">Google_Calculator_Multiply</td> 
  <td>main@310656974</td>   <td></td> </tr>
<tr bgcolor="829dd8">  <td>15/01/14 10:40:40</td>   <td>28794</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Calculator.Google_Calculator_Multiply(java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:com.tma.mbe.google.Calculator@1554909b]">Google_Calculator_Multiply</td> 
  <td>main@310656974</td>   <td></td> </tr>
<tr bgcolor="829dd8">  <td>15/01/14 10:41:10</td>   <td>58931</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Calculator.Google_Calculator_Plus(java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:com.tma.mbe.google.Calculator@1554909b]">Google_Calculator_Plus</td> 
  <td>main@310656974</td>   <td></td> </tr>
<tr bgcolor="829dd8">  <td>15/01/14 10:41:28</td>   <td>77052</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Calculator.Google_Calculator_Plus(java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:com.tma.mbe.google.Calculator@1554909b]">Google_Calculator_Plus</td> 
  <td>main@310656974</td>   <td></td> </tr>
<tr bgcolor="829dd8">  <td>15/01/14 10:41:46</td>   <td>95362</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Calculator.Google_Calculator_Plus(java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:com.tma.mbe.google.Calculator@1554909b]">Google_Calculator_Plus</td> 
  <td>main@310656974</td>   <td></td> </tr>
<tr bgcolor="829dd8">  <td>15/01/14 10:42:03</td>   <td>112477</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;Calculator.end()[pri:0, instance:com.tma.mbe.google.Calculator@1554909b]">&lt;&lt;end</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@310656974</td>   <td></td> </tr>
<tr bgcolor="829dd8">  <td>15/01/14 10:40:08</td>   <td>-2298</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;Calculator.init()[pri:0, instance:com.tma.mbe.google.Calculator@1554909b]">&gt;&gt;init</td> 
<td>&nbsp;</td>  <td>main@310656974</td>   <td></td> </tr>
<tr bgcolor="829dd8">  <td>15/01/14 10:40:25</td>   <td>14395</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;Calculator.init()[pri:0, instance:com.tma.mbe.google.Calculator@1554909b]">&gt;&gt;init</td> 
<td>&nbsp;</td>  <td>main@310656974</td>   <td></td> </tr>
<tr bgcolor="829dd8">  <td>15/01/14 10:40:38</td>   <td>27239</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;Calculator.init()[pri:0, instance:com.tma.mbe.google.Calculator@1554909b]">&gt;&gt;init</td> 
<td>&nbsp;</td>  <td>main@310656974</td>   <td></td> </tr>
<tr bgcolor="829dd8">  <td>15/01/14 10:41:08</td>   <td>57431</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;Calculator.init()[pri:0, instance:com.tma.mbe.google.Calculator@1554909b]">&gt;&gt;init</td> 
<td>&nbsp;</td>  <td>main@310656974</td>   <td></td> </tr>
<tr bgcolor="829dd8">  <td>15/01/14 10:41:26</td>   <td>75370</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;Calculator.init()[pri:0, instance:com.tma.mbe.google.Calculator@1554909b]">&gt;&gt;init</td> 
<td>&nbsp;</td>  <td>main@310656974</td>   <td></td> </tr>
<tr bgcolor="829dd8">  <td>15/01/14 10:41:44</td>   <td>93772</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;Calculator.init()[pri:0, instance:com.tma.mbe.google.Calculator@1554909b]">&gt;&gt;init</td> 
<td>&nbsp;</td>  <td>main@310656974</td>   <td></td> </tr>
<tr bgcolor="829dd8">  <td>15/01/14 10:40:08</td>   <td>-2528</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;Calculator.prepare()[pri:0, instance:com.tma.mbe.google.Calculator@1554909b]">&gt;&gt;prepare</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@310656974</td>   <td></td> </tr>
<tr bgcolor="829dd8">  <td>15/01/14 10:40:24</td>   <td>13134</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;Calculator.tearDown()[pri:0, instance:com.tma.mbe.google.Calculator@1554909b]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td>  <td>main@310656974</td>   <td></td> </tr>
<tr bgcolor="829dd8">  <td>15/01/14 10:40:37</td>   <td>25999</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;Calculator.tearDown()[pri:0, instance:com.tma.mbe.google.Calculator@1554909b]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td>  <td>main@310656974</td>   <td></td> </tr>
<tr bgcolor="829dd8">  <td>15/01/14 10:41:07</td>   <td>56181</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;Calculator.tearDown()[pri:0, instance:com.tma.mbe.google.Calculator@1554909b]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td>  <td>main@310656974</td>   <td></td> </tr>
<tr bgcolor="829dd8">  <td>15/01/14 10:41:26</td>   <td>75250</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;Calculator.tearDown()[pri:0, instance:com.tma.mbe.google.Calculator@1554909b]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td>  <td>main@310656974</td>   <td></td> </tr>
<tr bgcolor="829dd8">  <td>15/01/14 10:41:43</td>   <td>92352</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;Calculator.tearDown()[pri:0, instance:com.tma.mbe.google.Calculator@1554909b]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td>  <td>main@310656974</td>   <td></td> </tr>
<tr bgcolor="829dd8">  <td>15/01/14 10:42:02</td>   <td>111267</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;Calculator.tearDown()[pri:0, instance:com.tma.mbe.google.Calculator@1554909b]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td>  <td>main@310656974</td>   <td></td> </tr>
</table>
